* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.new-page{
    height: 35rem;
    width: 100%;
    background-color: #474747;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.89; */
}

.new-page::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.58); /* we can use this instead of opacity */
}

.new-page-img {
    width: 15rem;
    height: 20rem;
    position: absolute;
    background-position: center;
    z-index: 1;
    bottom: 17%;
    left: 5%;
    border-radius: 10px;
    background-size: cover;
    /* background-color: rgb(20, 20, 20); */
} 

.new-page-info {
    height: auto;
    position: absolute;
    z-index: 1;
    width: 45rem;
    display: inline-block;
    /* border-radius: 1rem; */
    left: 30%;
    top: 28%;
    word-spacing: 0.35rem;
    padding: 0.5rem;
}

.title-page {
    font-size: 50px;
    color: aliceblue;
}

.title-page:hover {
    color: rgb(253, 12, 25);
}

.title-page-info {
    font-size: 1.3rem;
    margin-top: 0.7rem;
    line-height: 1.5;
}

.play-btn {
    height: 50px;
    align-content: center;
    text-align: center;
    position: absolute;
    left: 88%;
    top: 80%;
    z-index: 4;
    font-size: 22px;
    background: linear-gradient(183deg, rgb(215, 48, 23) 0%, rgb(224, 29, 29) 96%);
    padding: 10px 11px;
    border-radius: 14px;
    transition: 0.5s ease;
}

.play-btn:hover {
    transform: scale(1.12);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(153, 45, 45, 0.747),
    0 0 20px rgba(160, 44, 44, 0.4),
    0 10px 30px rgba(0, 0, 0, 0.5);;
}

.new-page-ms {
    position: relative;
    margin-top: 20px;
    font-size: 34px;
    letter-spacing: 1px;
}

.top-one {
    font-size: 30px;
    padding-left: 46px;
    font-weight: bold;
}

.ms-cards {
    padding: 1rem 1rem 0 2rem;
    height: auto;
    margin-bottom: 3rem;
}

.ms-card {
    z-index: 2;
    position: relative;
    display: grid;
    grid-gap: 3rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(13rem , 1fr));
    color: aliceblue;
    margin-top: 1rem;
}

.ms-span {
    min-width: 190px;
    border-radius: 12px;
    width: 213px;
    display: block;
    transition: transform 0.35s ease;
}

.photos-ms {
    width: 13.6rem;
    height: 280px;
    will-change: transform;
    transition: 
    transform 0.2s ease,
    box-shadow 0.3s ease;
    padding-left: 15px;
    object-fit: cover;
}

.names {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 7px;
}

.ms-span:hover .photos-ms {
    cursor: pointer;
    transform: scale(1.08);
        box-shadow: 0 -3px 10px rgba(200, 0, 80, 0.6),
                    0 0 20px rgba(200, 0, 47, 0.4),
                    0 10px 30px rgba(0, 0, 0, 0.5);;
}

.ms-span:hover .names {
    opacity: 1;
}

/* For alice in the borderland */
.title-page-1 {
    font-size: 3rem;
    color: aliceblue;
}

.title-page-1:hover {
    color: aqua;
}

.play-btn-1 {
    position: absolute;
    height: 50px;
    align-content: center;
    text-align: center;
    left: 88%;
    top: 80%;
    z-index: 4;
    font-size: 22px;
    background: linear-gradient(to right, rgb(44, 244, 249), rgb(63, 142, 177));
    padding: 10px 11px;
    border-radius: 14px;
    transition: 0.5s ease;
}

.play-btn-1:hover {
    transform: scale(1.12);
    cursor: pointer;
    box-shadow: 0 0 10px  rgba(44, 115, 212, 0.74), 
    0 0 20px rgba(63, 130, 200, 0.4),
    0 10px 30px rgba(0, 0, 0, 0.5)
}

/* For breaking bad */
.title-page-2 {
    font-size: 3rem;
    color: aliceblue;
}

.title-page-2:hover {
    color: yellowgreen;
}

.play-btn-2 {
    position: absolute;
    height: 50px;
    align-content: center;
    text-align: center;
    left: 88%;
    top: 80%;
    z-index: 4;
    font-size: 22px;
    background: linear-gradient(to right, rgb(187, 202, 39), rgb(219, 224, 86));
    padding: 10px 11px;
    border-radius: 14px;
    transition: 0.5s ease;
}

.play-btn-2:hover {
    transform: scale(1.12);
    box-shadow: 0 0 10px rgba(166, 180, 42, 0.74),
    0 0 20px rgba(164, 191, 46, 0.4),
    0 10px 30px rgba(0, 0, 0, 0.5);
}