* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    background: black;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.app-header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 -4px 8px 0 rgba(252, 94, 94, 0.822), 0 -6px 20px 0 rgba(226, 24, 24, 0.707);
    z-index: 1000;
    margin-bottom: 8px;
}

header img {
    width: 67px;
    position: relative;
    z-index: 10;
    padding: 4px;
}

.movie-text {
    background: transparent;
    border: none;
    color: white;
    font-size: 32px;
    font-style: italic;
    font-family: 'Rubik Wet Paint', cursive;
}

.main {
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    /*pushes btn to right*/
}

.nav-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.nav-btn:hover {
    color: #ffcc00;
}


.poster-div {
    width: 100%;
    position: absolute;
}

.poster-div img {
    width: 100%;
    height: 37rem;
}

.poster {
    position: absolute;
    bottom: 70px;
    left: 40px;
    max-width: 520px;
    padding: 22px 28px;
    background: rgba(0, 0, 0, 0.7);
    /* rectangular box */
    border-radius: 12px;
    /* rectangle, not pill */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    color: #fff;
    backdrop-filter: blur(8px);
    margin-bottom: 113px;
    opacity: 0.98;
}

.poster-heading {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 12px;
    padding-left: 6px;
}

.poster-info {
    font-size: 16.7px;
    line-height: 1.58;
    padding-left: 5px;
    margin: 2px;
}

.poster-imbd-rating {
    display: inline-block;
    background-color: #2a1a0e;
    padding: 10px;
    border-radius: 17px;
}

.play-btn-poster {
    position: absolute;
    bottom: 103px;
    left: 44px;
    background-color: rgb(139, 103, 41);
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
    margin: 1px;
}

.play-btn-poster:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(142, 153, 45, 0.6),
    0 0 20px rgba(110, 139, 40, 0.4),
    0 10px 30px rgba(0, 0, 0, 0.5);;
}

.top-movies{
    font-size: 2rem;
    position: relative;
    color: rgb(252, 4, 8);
    margin-top: 39.5rem;
}

.top-series {
    padding-left: 2rem;
}

.movie-cards {
    padding: 1rem 1rem 0 2rem;
    height: auto;
    margin-bottom: 3rem;
}
    
    .movie-card {
        z-index: 2;
        position: relative;
        grid-gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        grid-template-rows: auto;
        color: aliceblue;
        margin-top: 1rem;
    }
    
    .movie-span {
        width: 213px;
        /* transition: 0.5s, ease all; */
        border-radius: 11px;
        display: block;
        transition: transform 0.35s ease;
    }
    
    .movie-photo{
        width: 100%;
        height: 20rem;
        width: 13rem;
        border-radius: 0.7rem;
         transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
        will-change: transform;
    }

    .movie-names {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 7px;
    }

    .movie-span:hover .movie-photo{
        cursor: pointer;
        transform: scale(1.08);
        box-shadow: 0 -3px 10px rgba(200, 0, 80, 0.6),
                    0 0 20px rgba(200, 0, 47, 0.4),
                    0 10px 30px rgba(0, 0, 0, 0.5);;
    }

    .movie-span:hover {
        transform: translate(-10px);
    }

    .movie-span:hover .movie-names{
        opacity: 1;
    }