* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    background-color: black;
}

.app-header {
    height: 70px;
    background-color: black; 
    display: flex;
    align-items: center;       
    padding: 0 20px;
    box-shadow: 0 -4px 8px 0 rgba(252, 94, 94, 0.822), 0 -6px 20px 0 rgba(226, 24, 24, 0.707);
    z-index: 1000;
    margin-bottom: 8px;
}

header img{
    width: 67px;
    position: relative;
    z-index: 10;
    padding: 4px;
}

.movie-text {
    background: transparent;
    border: none;
    color: white;
    font-size: 32px;
    font-style: italic;
    font-family: 'Rubik Wet Paint', cursive;
}

.main{
    width: 100%;
}

.nav-links{
    display: flex;
    gap: 20px;
    margin-left: auto; /*pushes btn to right*/
}

.nav-btn{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none; /* removes the underline */
}

.nav-btn:hover{
    color: #ffcc00;
}

.first {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    background: transparent;
}

.hero {
    display: flex;
    padding: 60px;
    align-items: center;
}

.hero-poster img{
    width: 320px;
    border-radius: 18px;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.8);
    transition: transform 0.4s ease;
    padding-right: 10px;
    border: 4px solid red;
}

.hero-poster img:hover{
    transform: scale(1.05);
}

.hero-content {
    max-width: 500px;
}

.hero-content h1{
    font-size: 48px;
    margin-bottom: 15px;
    color: #fff;
    padding-left: 10px;
}

.hero-content p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
    padding-left: 10px;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  padding-left: 10px;
}
