* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    background: black;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* light mode */

body.light {
    background-color: #ffffff;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

.app-header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 -4px 8px 0 rgba(252, 94, 94, 0.822), 0 -6px 20px 0 rgba(226, 24, 24, 0.707);
    z-index: 1000;
    margin-bottom: 8px;
}

/* light mode */

body.light .app-header {
    background-color: #ffffff;
    color: #000000;
}

body.light .app-header a {
    color: #000000;
}

header img {
    width: 67px;
    position: relative;
    z-index: 10;
    padding: 4px;
}

.movie-text {
    background: transparent;
    border: none;
    color: white;
    font-size: 32px;
    font-style: italic;
    font-family: 'Rubik Wet Paint', cursive;
}

body.light .movie-text {
    color: #000000;
}

.main {
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    /*pushes btn to right*/
}

.nav-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

body.light .nav-btn {
    color: #000000;
}


.nav-btn::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-btn:hover::after {
    width: 100%;
}

.poster-div {
    width: 100%;
    position: absolute;
}

.poster-div img {
    width: 100%;
    height: 37rem;
}

.poster {
    position: absolute;
    bottom: 70px;
    left: 40px;
    max-width: 520px;
    padding: 22px 28px;
    background: rgba(0, 0, 0, 0.7);
    /* rectangular box */
    border-radius: 12px;
    /* rectangle, not pill */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    color: #fff;
    backdrop-filter: blur(8px);
    margin-bottom: 113px;
    opacity: 0.98;
}

.poster-heading {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 12px;
    padding-left: 6px;
}

.poster-info {
    font-size: 16.7px;
    line-height: 1.58;
    padding-left: 5px;
    margin: 2px;
}

.poster-imbd-rating {
    display: inline-block;
    background-color: #2a1a0e;
    padding: 10px;
    border-radius: 17px;
}

.play-btn-poster {
    position: absolute;
    bottom: 103px;
    left: 44px;
    background-color: rgb(139, 103, 41);
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
    margin: 1px;
}

.play-btn-poster:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(142, 153, 45, 0.6),
    0 0 20px rgba(110, 139, 40, 0.4),
    0 10px 30px rgba(0, 0, 0, 0.5);;
}

.top-Series{
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    color: red;
    margin-top: 39.5rem;
    /* text-shadow: 0 0 12px rgba(195, 255, 0, 0.9); */
}

.top-series {
    padding-left: 2rem;
}

.series-cards {
    padding: 1rem 1rem 0 2rem;
    height: auto;
    margin-bottom: 3rem;
}

    
    .series-card {
        z-index: 2;
        position: relative;
        grid-gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        grid-template-rows: auto;
        color: aliceblue;
        margin-top: 1rem;
    }
    
    .series-span {
        min-width: 190px;
        width: 213px;
        /* flex: 0 0 calc(25% - 20px); */
        border-radius: 11px;
        display: block;
        transition: transform 0.35s ease;
    }
    
    .series-photo{
        height: 280px;
        width: 13rem;
        border-radius: 19px;
        transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
        will-change: transform;
        padding-left: 15px;
        object-fit: cover;
    }

    .series-names {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 7px;
    }

    .series-span:hover .series-photo{
        cursor: pointer;
        transform: scale(1.08);
        box-shadow: 0 -3px 10px rgba(200, 0, 80, 0.6),
                    0 0 20px rgba(200, 0, 47, 0.4),
                    0 10px 30px rgba(0, 0, 0, 0.5);;
    }

    .series-span:hover {
        transform: translate(-10px);
    }

    .series-span:hover .series-names{
        opacity: 1;
    }

    .top-Movies {
        font-size: 34px;
        font-weight: bold;
        letter-spacing: 1px;
        color: red;
        position: relative;
    }

    .movies {
        padding-left: 2rem;
    }

    .movies-cards {
        padding: 1rem 1rem 0 2rem;
        height: auto;
        margin-bottom: 3rem;
    }

    .movies-card {
        z-index: 2;
        position: relative;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        grid-template-rows: auto;
        color: aliceblue;
        margin-top: 1rem;
    }

    .movies-span {
        min-width: 190px;
        width: 213px;
        border-radius: 11px;
        display: block;
        transition: transform 0.35s ease;
    }

    .movie-photo {
        width: 100vw;
        height: 280px;
        width: 13rem;
        border-radius: 19px;
        transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
        will-change: transform;
        padding-left: 15px;
        object-fit: cover;
    }

    .movie-name {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 7px;
    }

    .movies-span:hover .movie-photo {
        cursor: pointer;
        transform: scale(1.08);
         box-shadow: 0 -3px 10px rgba(200, 0, 80, 0.6),
                     0 0 20px rgba(200, 0, 47, 0.4),
                     0 10px 30px rgba(0, 0, 0, 0.5);;
    }

    .movies-span:hover {
        transform: translate(-10px);
    }

    .movies-span:hover .movie-names{
        opacity: 1;
    }

    .footer {
        height: 6rem;
        width: 100%;
        position: relative;
        background-color: rgba(41, 41, 41, 0.56);

        & p {
            text-align: center;
            padding-top: 1.2rem;
        }
    }

    /*! Responsive */

    @media screen and (max-width:500px) {
        
        .app-header{  
            position: fixed;
            width: 100%;
            height: 43px;
            background-color: black;
            display: flex;
            align-items: center;
            padding: 0px 0px;
            box-shadow: 0 -4px 8px 0 rgba(252, 94, 94, 0.822), 0 -6px 20px 0 rgba(226, 24, 24, 0.707);
            z-index: 1000;
            margin-bottom: 1px;
            overflow: hidden;
        }

        header img {
            width: 67px;
            position: relative;
            z-index: 10;
            padding-right: 24px;
        }

        .movie-text {
    background: transparent;
    border: none;
    color: white;
    font-size: 16.5px;
    font-style: italic;
    font-family: 'Rubik Wet Paint', cursive;
}

.nav-links {
    display: flex;
    gap: 4px;
    margin-left: auto;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12.5px;
    white-space: nowrap;
}

.poster-div {
    width: 100%;
    position: absolute;
}

.poster-div img {
    width: 100%;
    height: 32rem;
}

.poster {
    position: absolute;
    bottom: -53px;
    left: 1px;
    max-width: 520px;
    padding: 22px 28px;
    background: rgba(0, 0, 0, 0.7);
    /* rectangular box */
    border-radius: 12px;
    /* rectangle, not pill */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    color: #fff;
    backdrop-filter: blur(8px);
    margin-bottom: 113px;
    opacity: 0.98;
}

.poster-heading {
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 8px;
    padding-left: 4px;
}

.poster-info {
    font-size: 13.7px;
    line-height: 1.6;
    padding-left: 2px;
    margin: 2px;
}

.poster-imbd-rating {
    display: inline-block;
    background-color: #2a1a0e;
    padding: 8px;
    border-radius: 22px;
    font-size: 11px;
}

.play-btn-poster {
    position: absolute;
    bottom: 6px;
    left: 4px;
    background-color: rgb(139, 103, 41);
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
    margin: 1px;
}

.top-Series{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    color: red;
    margin-top: 33.5rem;
    }

.top-series {
    padding-left: 2rem;
}

.series-cards {
    padding: 1rem 1rem 0 2rem;
    height: auto;
    margin-bottom: 3rem;
}

    
    .series-card {
        z-index: 2;
        position: relative;
        grid-gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        grid-template-rows: auto;
        color: aliceblue;
        margin-top: 1rem;
    }
    
    .series-span {
        min-width: 190px;
        width: 213px;
        /* flex: 0 0 calc(25% - 20px); */
        border-radius: 11px;
        display: block;
        transition: transform 0.35s ease;
    }
    
    .series-photo{
        height: 280px;
        width: 13rem;
        border-radius: 19px;
        transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
        will-change: transform;
        padding-left: 15px;
        object-fit: cover;
    }

    .series-names {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 4px;
    }


    .top-Movies {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
        color: red;
        position: relative;
    }

    .movies {
        padding-left: 2rem;
    }

    .movies-cards {
        padding: 1rem 1rem 0 2rem;
        height: auto;
        margin-bottom: 3rem;
    }

    .movies-card {
        z-index: 2;
        position: relative;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        grid-template-rows: auto;
        color: aliceblue;
        margin-top: 1rem;
    }

    .movies-span {
        min-width: 190px;
        width: 213px;
        border-radius: 11px;
        display: block;
        transition: transform 0.35s ease;
    }

    .movie-photo {
        width: 100vw;
        height: 280px;
        width: 13rem;
        border-radius: 19px;
        transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
        will-change: transform;
        padding-left: 15px;
        object-fit: cover;
    }

    .movie-name {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 7px;
    }

    .footer {
        height: 4rem;
        width: 100%;
        position: relative;
        background-color: rgba(41, 41, 41, 0.56);

        & p {
            text-align: center;
            padding-top: 1.2rem;
        }
    }

    
}